[project]
	description = Vendor tree for asus msm8916-common devices
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Suhail Malik (suhailit)
[access "refs/for/refs/*"]
	read = group user/Suhail Malik (suhailit)
	push = group user/Suhail Malik (suhailit)
	label-Code-Review = -2..+2 group user/Suhail Malik (suhailit)
	label-Verified = -1..+1 group user/Suhail Malik (suhailit)
	rebase = group user/Suhail Malik (suhailit)
	removeReviewer = group user/Suhail Malik (suhailit)
	submit = group user/Suhail Malik (suhailit)
[access "refs/heads/*"]
	read = group user/Suhail Malik (suhailit)
	create = group user/Suhail Malik (suhailit)
	push = +force group user/Suhail Malik (suhailit)
	pushMerge = group user/Suhail Malik (suhailit)
[access "refs/tags/*"]
	push = group user/Suhail Malik (suhailit)
	push = +force group user/Suhail Malik (suhailit)
